<h2>Productos del carrito solicitado:</h2>
<div class="listado">
  <ul>
    {{#each products}}
      <li>
        <div><b>Producto: </b>{{this.product}}</div>
        <div><b>Quantity: </b>{{this.quantity}}</div>
      </li>
    {{/each}}
  </ul>
</div>