<div class="listado">
  <h1>Este es tu carrito</h1>
  <h2>Productos del carrito solicitado:</h2>
  <ul>
    {{#each products}}
      <li id="{{this.id}}">
        <div><b>Producto: </b>{{this.product.title}}</div>
        <div><b>Descripción: </b>{{this.product.description}}</div>
        <div><b>Quantity: </b>{{this.quantity}}</div>
      </li>
    {{/each}}
  </ul>

  <div id="botonera">
    <a href="" id="finalizarCompra">
      <button id="finalizarCompraBtn">Finalizar Compra</button></a>
    <a href="/products"><button id="atras">Atrás</button></a>
  </div>
</div>
<script src="/static/js/carrito.js"></script>